@{
    ViewData["Title"] = "Home Page";
}


<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="https://www.wsb.pl/gdansk/themes/custom/wsb/images/logos/logo_gdansk.png" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption" role="option">
            <p>
                Zaliczenie
            </p>
        </div>
    </div>


<div class="row">
    <div class="col-md-1">
        <h2>Zaliczenie testowe!</h2>
        <ul>
            <li>Zaliczenie lab4</li>
            <li>Zaliczenie lab4</li>
        </ul>
    </div>
</div>
